/* Navbar content */
#logout{
    cursor: pointer;
    
}
.navbar-shadow {
    
    box-shadow: 2px 2px 10px #7ac6fc;
}

.background-color{
    background-color: bisque;
    box-shadow: 2px 2px 10px bisque;
    border-radius: 10px;
}

/* For responsive website */
